AWS_ACCESS_KEY_ID={{ mosquitto_backup_aws_access_key }}
AWS_SECRET_ACCESS_KEY={{ mosquitto_backup_aws_secret_access_key }}
AWS_DEFAULT_REGION={{ mosquitto_backup_aws_region }}
MOSQUITTO_PASSWORD={{ mosquitto_backup_password }}
MOSQUITTO_USERNAME={{ mosquitto_backup_username }}
MOSQUITTO_HOST={{ mosquitto_backup_host }}
SERVICE_NAME={{ mosquitto_service_name }}
BACKUP_FROM={{ mosquitto_backup_from }}
BUCKET_NAME={{ mosquitto_backup_bucket_name }}
